.btn-primary-color {
    background-color: rgb(244, 69, 69) !important;
    border-color: rgb(244, 69, 69) !important;
}

.btn-primary-color:hover, .btn-primary-color:focus {
    background-color: rgb(204, 57, 57) !important;
    border-color: rgb(204, 57, 57) !important;
}
