.header-container {
    background-color: rgb(255, 156, 225);
    max-width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.modal-body {
    background-color: #f34bce;
    color: white;
}

.btn-close {
    filter: invert(1);
}

.modal-header {
  background-color: #be0cac;
  color: white;
}

.modal-footer {
  background-color: #be0cac !important;
  color: white !important;
}