.btn-primary-color {
    background-color: rgb(207, 61, 117) !important;
    border-color: rgb(0, 0, 0) !important;
}

.btn-primary-color:hover, .btn-primary-color:focus {
    background-color: rgb(158, 55, 94) !important;
    border-color: rgb(0, 0, 0) !important;
}
